* text=auto

/.github export-ignore
/tests export-ignore
/docs export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
contributing.md export-ignore
docker-compose.yml export-ignore
phpunit.xml export-ignore
rector.yml export-ignore
webpack.mix.js export-ignore
package-lock.json export-ignore
composer.lock export-ignore
